<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018976674826-9354spvfbev1sld5mm2732tg3a5lotiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018976674826-9354spvfbev1sld5mm2732tg3a5lotiv</string>
	<key>API_KEY</key>
	<string>AIzaSyD2nO-0pH3VqHml3WxsHxA43roqNgC2kEc</string>
	<key>GCM_SENDER_ID</key>
	<string>1018976674826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seungwon.firestore-demo</string>
	<key>PROJECT_ID</key>
	<string>test-project-dfbe1</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-dfbe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018976674826:ios:13b343901f15aea84babf3</string>
</dict>
</plist>